@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  background-image: url("images/serve.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo {
    width: 100px;
    border-radius: 50px;
  }
  .header{
    padding: 8px;
   /* background-color: rgb(26, 24, 24);*/
    display: flex;
    justify-content: space-between;
  }
  .flier{
    max-width: 400px; 
  }
  .about-us{
    padding: 8px;
    background-color: rgb(26, 24, 24);
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
  }
  .about-us h1,
  p{
    opacity: 1;
  }
  h1{
    font-size: small;
    font-weight: bold;
    /*color: white;*/
  }
  .text{
    width: 400px;
    /*color: white;*/
  }
  .tr-link{
    flex: 1;
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer{
    height: 72px;
    background: #eee;
    color: darkmagenta;
    display: flex;
    align-items: center;
    justify-content: center;
  }